Repository rafaelportomoura/ufla-tcc-modelo: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint --cache --fix, yarn tsc --noEmit --esModuleInterop, cfn-lint stacks/*

☁️ aws: cloudformation stacks
  stacks/dynamodb.yaml
  stacks/ecr.yaml
  stacks/ecs+apiGateway.yaml
  stacks/lambda+sqs.yaml
Due: cfn-lint stacks/*

🤖 chore: build files
  tsconfig.json
  yarn.lock
Due: none

🤖 chore: docker image
  Dockerfile
Due: none

🎸 feat: init app files
  app/src/adapters/logger.ts
  app/src/aws/dynamodb.ts
  app/src/aws/secretsManager.ts
  app/src/aws/sqs.ts
  app/src/constants/code_messages.ts
  app/src/constants/configuration.ts
  app/src/constants/httpStatus.ts
  app/src/database/mongo.ts
  app/src/exceptions/errors.ts
  app/src/handlers/server.ts
  app/src/middlewares/error.ts
  app/src/middlewares/my_request_id.ts
  app/src/routes/index.ts
  app/src/types/CodeMessages.ts
  app/src/types/HttpStatusCode.ts
  app/src/types/Logger.ts
  app/src/types/MongoSecret.ts
  app/tests/Error.middlewares.spec.ts
  app/tests/functions/express.ts
Due: yarn format, yarn lint --cache --fix, yarn tsc --noEmit --esModuleInterop

✏️ docs: readme
  README.md
Due: none

🎸 feat: implements some examples
  app/src/adapters/logger.ts
  app/src/business/get.ts
  app/src/constants/codeMessages.ts
  app/src/constants/configuration.ts
  app/src/controllers/get.ts
  app/src/database/mongo.ts
  app/src/exceptions/errors.ts
  app/src/handlers/server.ts
  app/src/middlewares/error.ts
  app/src/middlewares/my_request_id.ts
  app/src/repositories/exampleRepository.ts
  app/src/routes/example.ts
  app/src/routes/index.ts
  app/src/types/CodeMessage.ts
  app/src/types/Example.ts
  app/src/types/Logger.ts
  app/src/utils/createRequestId.ts
  app/tests/Error.middlewares.spec.ts
Due: yarn format, yarn lint --cache --fix, yarn tsc --noEmit --esModuleInterop

💻 dev: add nodemon
  .nycrc
  nodemon.json
  package.json
Due: none

💻 dev: add nodemon
  yarn.lock
Due: none

💍 test: rename to mocks
  app/tests/mocks/express.ts
Due: yarn format, yarn lint --cache --fix, yarn tsc --noEmit --esModuleInterop

💡 refactor: extract exceptions to one file per class
  app/src/database/mongo.ts
  app/src/exceptions/BadRequestError.ts
  app/src/exceptions/BaseError.ts
  app/src/exceptions/DatabaseError.ts
  app/src/exceptions/InternalServerError.ts
  app/src/exceptions/NotFoundError.ts
  app/src/exceptions/ValidationError.ts
  app/src/exceptions/errors.ts
  app/src/middlewares/error.ts
Due: yarn format, yarn lint --cache --fix, yarn tsc --noEmit --esModuleInterop

🎸 feat: wip
  app/src/adapters/logger.ts
  app/src/adapters/validate.ts
  app/src/aws/dynamodb.ts
  app/src/aws/sns.ts
  app/src/business/get.ts
  app/src/constants/configuration.ts
  app/src/constants/logger.ts
  app/src/controllers/get.ts
  app/src/dtos/eventBus.ts
  app/src/dtos/example.ts
  app/src/repositories/exampleRepository.ts
  app/src/routes/Example.ts
  app/src/routes/index.ts
  app/src/services/EventBus.ts
  app/src/types/Logger.ts
  app/tests/Error.middlewares.spec.ts
  app/tests/Logger.adapters.spec.ts
  app/tests/Validate.adapters.spec.ts
  app/tests/mocks/logger.ts
  package.json
  yarn.lock
Due: yarn format, yarn lint --cache --fix, yarn tsc --noEmit --esModuleInterop

💍 test: unit tests
  .lintstagedrc
  .nycrc
  Dockerfile
  app/src/adapters/logger.ts
  app/src/adapters/validate.ts
  app/src/aws/dynamodb.ts
  app/src/business/get.ts
  app/src/constants/codeMessages.ts
  app/src/controllers/get.ts
  app/src/controllers/test.ts
  app/src/database/mongo.ts
  app/src/dtos/eventBus.ts
  app/src/dtos/example.ts
  app/src/repositories/exampleRepository.ts
  app/src/routes/Example.ts
  app/src/services/EventBus.ts
  app/src/types/EventBus.ts
  app/tests/Errors.exceptions.spec.ts
  app/tests/Logger.adapters.spec.ts
  app/tests/Validate.adapters.spec.ts
  app/tests/mocks/validate.ts
Due: yarn format, yarn lint --cache --fix, yarn tsc --noEmit --esModuleInterop

💡 refactor: names
  README.md
  stacks/ecs+apiGateway.yaml
  stacks/lambda+sqs.yaml
Due: cfn-lint stacks/*

🎡 ci: change lintstaged configuration
  .lintstagedrc
  lint-staged.config.js
Due: none

☁️ aws: improve tags and template
  stacks/dynamodb.yaml
  stacks/ecr.yaml
  stacks/ecs+apiGateway.yaml
  stacks/lambda+sqs.yaml
Due: cfn-lint stacks/*

💡 refactor: code prefix
  app/src/constants/codeMessages.ts
  app/src/constants/configuration.ts
Due: yarn format, yarn lint --cache --fix, yarn tsc --noEmit --esModuleInterop

💍 test: add document db
  .vscode/settings.json
  app/src/aws/ssm.ts
  app/src/constants/configuration.ts
  app/src/database/mongo.ts
  app/src/types/MongoSecret.ts
  package.json
  stacks/documentdb.yaml
  stacks/dynamodb.yaml
  stacks/ecr.yaml
  stacks/ecs+apiGateway.yaml
  stacks/lambda+sqs.yaml
  todo
Due: yarn format, yarn lint --cache --fix, yarn tsc --noEmit --esModuleInterop, cfn-lint stacks/*

💡 refactor: remove todo
  todo
Due: none

🐛 fix: host
  stacks/documentdb.yaml
Due: cfn-lint stacks/*

🐛 fix: stacks
  lint-staged.config.js
  stacks/lambda+sqs.yaml
Due: cfn-lint stacks/*

💍 test: unit
  app/src/adapters/logger.ts
  app/src/constants/configuration.ts
  app/src/database/document.ts
  app/src/services/EventBus.ts
  app/src/types/DocumentSecret.ts
  app/src/types/EventBus.ts
  app/tests/EventBus.services.spec.ts
  app/tests/Logger.adapters.spec.ts
  app/tests/mocks/event_bus.ts
  app/tests/mocks/sns.ts
  stacks/documentdb.yaml
  stacks/ecs+apiGateway.yaml
  stacks/lambda+sqs.yaml
Due: yarn format, yarn lint --cache --fix, yarn tsc --noEmit --esModuleInterop, cfn-lint stacks/*

💡 refactor: improve logger and error middleware
  app/src/adapters/logger.ts
  app/src/middlewares/error.ts
  app/tests/Logger.adapters.spec.ts
  app/tests/mocks/express.ts
Due: yarn format, yarn lint --cache --fix, yarn tsc --noEmit --esModuleInterop

💡 refactor: aws config
  app/src/aws/dynamodb.ts
  app/src/aws/secretsManager.ts
  app/src/aws/sns.ts
  app/src/aws/sqs.ts
  app/src/aws/ssm.ts
  app/src/constants/aws.ts
Due: yarn format, yarn lint --cache --fix, yarn tsc --noEmit --esModuleInterop

💡 refactor: add tag region
  stacks/documentdb.yaml
  stacks/lambda+sqs.yaml
Due: cfn-lint stacks/*

💡 refactor: add notification event attribute
  app/src/types/EventBus.ts
Due: yarn format, yarn lint --cache --fix, yarn tsc --noEmit --esModuleInterop

🎸 feat: some improves
  app/src/aws/config.ts
  app/src/aws/s3.ts
  app/src/aws/sqs.ts
  app/src/aws/ssm.ts
  app/src/constants/aws.ts
  app/src/constants/event.ts
  app/src/constants/httpStatus.ts
  app/src/database/document.ts
  app/src/exceptions/ConflictError.ts
  app/src/exceptions/PayloadTooLarge.ts
  app/src/exceptions/UnsupportedMediaType.ts
  app/src/handlers/server.ts
  app/src/middlewares/error.ts
  app/src/services/EventBus.ts
  app/src/types/Aws.ts
  app/src/types/EventBus.ts
  app/src/utils/createRequestId.ts
  app/src/utils/uriDecodeComponent.ts
  package.json
Due: yarn format, yarn lint --cache --fix, yarn tsc --noEmit --esModuleInterop

🎸 feat: remove nodemon
  nodemon.json
Due: none

🎸 feat: some changes
  .eslintrc.json
  app/src/adapters/api.ts
  app/src/adapters/validate.ts
  app/src/constants/configuration.ts
  app/src/constants/httpStatus.ts
  app/src/exceptions/ValidationError.ts
  package.json
Due: yarn format, yarn lint --cache --fix, yarn tsc --noEmit --esModuleInterop

remove
  package.json
Due: none

💡 refactor: improve validator
  app/src/adapters/validate.ts
Due: yarn format, yarn lint --cache --fix, yarn tsc --noEmit --esModuleInterop

refactor: Remove unused files and update package manager to pnpm
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/scripts/env.sh
  .devcontainer/scripts/index.sh
  .devcontainer/scripts/pip.sh
  .devcontainer/scripts/pnpm.sh
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .vscode/settings.json
  Dockerfile
  app/src/handlers/server.ts
  changelog.config.js
  lint-staged.config.js
Due: yarn format, yarn lint --cache --fix, yarn tsc --noEmit --esModuleInterop

Path conditions:
  yarn format: any of: app/**/*.ts
  yarn lint --cache --fix: any of: app/**/*.ts
  yarn tsc --noEmit --esModuleInterop: any of: app/**/*.ts
  cfn-lint stacks/*: any of: stacks/*.yaml
